/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.front-page-hero {
 background-image: url(../../images/home-hero.jpg);
 background-size: cover;
 height:100vh;
//  addlineargrad
}