/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

// SIDEBAR
.widget-title{
	text-transform: uppercase;
	color:white;
}

.contact-meta {
	a{
		color: $color_brand-green;
		  &:hover {
			  color: black;
		text-decoration: none;
		}
	}
}
