/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

// SIDEBAR
.widget-title{
	text-transform: uppercase;
	color:black;
}

.contact-meta {
	color: black;
	a{
		color: $color_brand-green;
		text-decoration: none;
		  &:hover {
			  color: black;		
		}
	}
}

.text-widget {
	color:black;
}