.site-footer {
  background-image: url(../../images/dark-wood.png);
  font-size: 16px;
  max-height: 500px;
  min-width: $site_width;
  flex-wrap: wrap;
  // padding: 45px 80px;
}

.footer-flex{
  display:flex;
}

.footer-box-container{
  display: flex;
  // align-content: flex-end;
  // justify-content: center;
}
.footer-box-item{
  margin: 2.8rem;
  padding-right: 1.5rem;
  flex-wrap: wrap;
}
.footer-box-logo{
  margin: 2.8rem;
  padding-right: 1.5rem;
  flex-wrap: wrap;
margin-left: 16rem;
margin-top:5rem;
}

h3 {
  color: $color_brand-orange;
  text-transform: uppercase;
}

p{
  color: white;
}

.contact a {
    color: white; 
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  
.footer-logo{
  width: 280px;
  height: 55px;
  align-content: right;
}

.day-bold{
  font-weight: 700;
}

.copyright-container {
  align-self: flex-end;
  text-align: center;
  .copyright{
     text-align: center;
     p { 
        text-transform: uppercase;
        margin:0;
      }
}}
.site-info a{
  font-size: 1px;
  color: white;
}