.adventures {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
    margin: 0;
    margin-bottom: .5rem;
    padding: 0;
    li {
        list-style: none;
        background-position: top;
        h3 {
            color: white;
            font-family: $font__main;
            text-transform: none;
            letter-spacing: 2px;
            line-height: 48px;
            font-weight: normal;
            padding-left: 20px;
            &:hover {
                color: $color_brand-yellow;
            }
        }
        a{
        @include white-button;
        text-decoration:none;
        padding: 10px;
        }
    } 
} 
   
.all-adventures{
    display:flex;
}

.adventures-container-canoe {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .4) 0, rgba(0, 0, 0, .4)), url(../../images/adventure-photos/canoe-girl.jpg); 
    background-size: cover;
     height: 540px;
    width: 540px;
    z-index: 1;
    left: 0;
    margin-right: 20px; // order:3;
    h3 {
        font-size: 48px;
        line-height: 32px;
    }
}
.adventures-container-beach {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .4) 0, rgba(0, 0, 0, .4)), url(../../images/adventure-photos/beach-bonfire.jpg);
    height: 250px;
    width: 560px;
    background-size: cover;
    margin-bottom: 20px;
    h3 {
        font-size: 38px;
    }
}
.adventures-container-mountain {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .4) 0, rgba(0, 0, 0, .4)), url(../../images/adventure-photos/mountain-hikers.jpg);
    background-size: cover;
    height: 265px;
    width: 270px;
    margin-right: 20px;
    h3 {
        font-size: 26px;
        line-height: 32px;
    }
}
.adventures-container-sky {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .4) 0, rgba(0, 0, 0, .4)), url(../../images/adventure-photos/night-sky.jpg);
    height: 265px;
    width: 270px;
    background-size: cover; //  order:3;
    h3 {
        font-size: 26px;
        line-height: 32px;
    }
}
.small-squares{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}