/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color_brand-green;
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	clear: both;
	display: block;
	width: 100%;
	text-transform: uppercase;
	font-size: 1rem;
	// font-family: $font_accent;
	display: flex;
	justify-content: space-between;
	position:absolute;
	background-color: rgba(255, 255, 255, 0.85);

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
				justify-content: center;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;
			padding: 10px;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
					padding-left: 1.5rem;
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				
				}
			}

			a {
				width: 200px;
				
					}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
.main-navigation li{
	padding-left: 1.5rem;
	align-items: center;
	margin-right: 0;
}

.top-menu-container{
	    height: 50px;
			display:flex;
}

.nav-logo-container {
	    height:50px;
			// display: flex;
			padding-bottom: .75rem;
			// margin-top:.5rem;
				padding-left: 5rem;
			
			img {
				height: 50px; 
				width: 50px;
				align-self: center;
			}
}
.nav-items-container{
	padding-bottom: .2rem;
  padding-top: .75rem;
	padding-right: 5rem;
	height: 33px;
	align-items: center;
	// justify-content: center;
}
				