/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.front-page-hero {
 background-image: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),url(../../images/home-hero.jpg);
 background-size: cover;
 height:100vh;
 position: relative;
 z-index: 2;

 
}
.hero-banner-logo{
  position: absolute;
  height: 20rem;
  width: 20rem;
   margin-left:30rem;
  margin-top: 12rem; 
  // display:block;
  //  margin:auto;
  //   width:100%
  // align-content: center;
  // img{
  //   justify-content: center;
  // }
}