            /*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
 body {
     &:not(.home):not(.page-template-about)
    //  :not(.single-product) // :not(.post-type-archive)
    
      :not(.tax-product-type) {
         .site-content {
             display: flex; // margin:0, auto; y u no werk?
             margin-left: auto;
             margin-right: auto;
             width: 1120px;
         } // padding-top: 50px;
     }
 }
 .blog .content-area {
     width: 73%;
 }

 .page-id-7 .content-area, 
 .search .content-area,
 .error404 .content-area{
     width: 73%;
     border-right: 1px solid #e1e1e1;
     padding-right: 5%;
     padding-top: 2%;
 }
 /* Front page */
 /*Banner*/
 .front-page-hero {
     background-image: linear-gradient(180deg, rgba(0, 0, 0, .4) 0, rgba(0, 0, 0, .4)), url(../../images/home-hero.jpg);
     background-size: cover;
     height: 100vh;
     position: relative;
     z-index: 2;
     .hero-banner-logo {
         img {
             position: absolute;
             padding-left: 30.8rem;
             padding-top: 10.5rem; //  margin-left:30rem;
             // margin-top: 12rem; 
             display: block;
             margin: auto;
             justify-content: center;
         }
     }
 }
 /*front page sections */
 .front-section-container {
     margin-left: auto;
     margin-right: auto;
     width: 1120px;
     h2 {
         text-transform: uppercase;
         text-align: center;
         font-size: 2.4rem;
         margin-bottom: 3.75rem;
         font-family: $font_accent;
         font-weight: 400;
             letter-spacing: 2px;
     }
.green-button-container{
@include green-button;
 align-self: flex-end;
 margin-bottom:3rem;
 margin-top: 2rem;
 width: 45%;
 a{
     color:white;
     text-decoration: none;
     padding-left: 35px;
 }
}
 }

 .front-grey-wrapper {
     border: $solid_border;
     border-top: 5px solid #e1e1e1; 
      margin: .75rem;
 }
  .front-shop-terms{
      .front-grey-wrapper { 
     &:hover{
         border: 1px solid #d99054;
         border-top: 5px solid #d99054; 
     }
   }
}
    
 /*Shop Stuff Section*/
 .front-shop-terms {
     display: flex;
     justify-content: space-between;
     text-align: center;
     .front-shop-term img {
         height: 70px;
         width: 70px;
     }
     .front-shop-term {
         padding: .75rem;
         padding-bottom: 1.2rem;
         width:258px;
         height:262px;
         
         .green-button a {
             background-color: $color_brand-green;
             color: white;
             font-size: .9rem;
             line-height: 1;
             padding: .75rem 1.5rem;
             text-decoration: none;
             text-transform: uppercase;
             font-family: $font_accent;
         }
     }
 }

 .journal-recent-block-item{
     .front-grey-wrapper{
         width:340px;
         height: 415px;
        img{
            width:100vw;
            height:245px;
            border-bottom: 5px solid #e1e1e1;
        }
        .entry-meta{
                font-size: .75rem;
                text-align: left;
        }
     }
 }
 .front-shop-term-description {
     color: black;
     font-family: Merriweather Web,serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.75;
 }
 /* Front Page Journal Section*/
 .front-journals {
     display: flex;
     justify-content: space-between;
     text-align: center;
 }
 .front-journal-text {
     text-align: left;
     color: $color_brand-green;
     text-transform: uppercase;
     font-size: 1.3rem;
     line-height: 1.25;
   font-family: Novecento Sans Web,sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
     a {  
         text-decoration: none;
     }
         
 }

 .black-button-read-cont {
     margin-top: 1rem;
     align-self:left;
     margin-bottom:.3rem;
     align-self:left;
 .read-more-front {
         text-decoration:none;
          @include black-button;
     }}

 .journal-thumbnail-wrapper {
     padding-bottom: 10px;
     .img {
         width:100%;
     }
 }
.page-template-default .entry-title {
    text-transform: uppercase;
}
      .entry-meta-wrapper {
     padding:10px;
 }
 /*About Page*/
 // hero image
 .custom-hero {
     height: 100vh;
 }
 .about-entry-title {
     color: white;
     text-align: center;
     text-transform: uppercase;
     padding-top: 16rem;
     font-size: 3rem;
     margin: 0;
 }
 .post-5 .entry-content {
     margin-top: 3.5rem;
     margin-bottom: 3.5rem;
     margin-left: 10rem;
     margin-right: 10rem;
     font-size: 1rem;
 }
 .page-template-about h2 {
     text-align: center;
     color: $color_brand-purple;
     font-size: 2rem;
     text-transform: uppercase;
     margin-bottom: 1rem;
     font-family: $font_accent;
     font-weight: 400;
     letter-spacing: 2px;
 }
 .entry-header custom-hero {
     background-size: cover;
}
 /*Find Us Page*/
 
 .archive .entry-title {
     font-size: 1rem;
     font-weight: 400;
 }
 .archive .entry-content h2 {
     text-transform: uppercase;
     font-size: 2rem;
     font-family: $font_accent;
     font-weight: 400;
     letter-spacing: 2px;
 }
 .post-7 .content-area {
     margin: 0;
 }
 .post-7 .site-content {
     border-right: $solid_border; // margin-bottom: 5rem;
 }
 .wpcf7-form .wpcf7-submit {
     background: $color_brand-green;
     border: none;
     border-radius: 0;
     color: #fff; // font-family: Novecento Sans Web, sans-serif;
     font-size: 14.4px;
     font-size: .9rem;
     line-height: 1;
     padding: .75rem 1.5rem;
     text-decoration: none;
     text-transform: uppercase;
     box-shadow: none;
     text-shadow: none;
     margin-bottom: 5rem;
    font-family: $font_main;
 }
 .star {
     color: $color_brand-orange;
     ;
 }
 .wpcf7-form-control {
     background: $color__background-screen;
 }
  .page-template-default .entry-title h2{
    text-transform: uppercase;
  }
 /*Shop Page*/
 h1.page-title {
     text-transform: uppercase;
     text-align: center;
 }
 .archive .entry-content p {
     display: none;
     font-size: 0.00000001px;
     z-index: 5;
     margin: 0;
 }
 .taxonomy-description p {
     font-size: 1rem;
     text-align: center;
     color: $color__text-main; 
 }
 .product-types-container {
     display: flex;
     align-content: center;
     justify-content: space-around;
     width: 350px;
     margin-left: 24rem;
 }
 .text-uppercase {
     text-transform: uppercase;
     text-align: center;
     text-decoration: none;
     font-size: 1.2rem;
     margin-left: 0;
     padding-left: 0; 
     font-family: $font_accent;
 }
 .page-header {
     margin-bottom: 40px;
     padding-bottom: 40px;
     border-bottom: $dashed_border;
 }
 .product-display {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-row-gap: 25px;
     grid-column-gap: 30px;
     margin-bottom: 3rem;
     .product-display-item {
         height: 300px;
         border: $solid_border;
         overflow: hidden;
         img {
             height: 250px;
             object-fit: cover;
             border-bottom: 5px solid #e1e1e1;
             padding-bottom: 0;
             margin-bottom: 0;
         }
     }
     .product-display-item .entry-title a {
         display: none;
         text-align: center;
         font-size: 0.00000001px;
         z-index: 1;
         margin: 0;
     }
 }
 .price {
     z-index: 999;
     color: black;
     font-size: 1rem; 
     text-align: center;
 }
 .archive .entry-content,
 .archive .hentry,
 .archive .entry-title {
     margin: 0;
 }

/*single product*/
.single-product .content-area{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.single-product .entry-title a{
    color: #d99054;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2.4rem;
    margin-bottom: .5rem;
}
.single-product .entry-title p{
    font-size: 1rem;
    margin-bottom: .5rem;
}

 /*Journal Page*/
 .blog .entry-header {
     position: relative;
     img {
         width: 100%;
         height: 100%;
     }
 }
 .blog .site-main {
     border-right: $solid_border;
 }
 .articles-container {
     margin-right: 25px;
     padding-top: 50px;
     width: 750px; 
     max-width: 93%;
  }
  .blog .entry-meta {
      background-color: $color_brand-green;
      text-transform: uppercase;
      color: white;
      display: inline-block;
      position: absolute;
      bottom: 8px;
      right: 0;
      padding-left: 1.2rem;
      padding-right: 1.2rem;
      font-family: $font_accent;
  }
  .blog .entry-title, .post-template-default .entry-title {
      display: flex;
      background-color: $color_brand-green;
      padding: 1rem 1.5rem;
      position: absolute;
      left: 0;
      top: 0; 
      margin-top: 2.25rem;
      max-width: 75%;
      line-height: 1.25;
      a {
          color: white;
          text-transform: uppercase;
          text-decoration: none;
          font-size: 2.1rem;
          &:hover {
              color: $color__background-ins;
          }
      }
  }
.black-button-read-cont{
      margin-bottom: 4rem;
      
}
.journal-read-button {
    @include black-button;
        text-decoration: none;
        margin-left:0;
        padding: .7rem 1.7rem;
}

/* Single Posts Page */
  .post-template-default .site-content .content-area {
    border-right: 1px solid #e1e1e1;
    padding-right: 5%;
    padding-top: 5%;
    width: 73%;
  }
  .entry-content p {
      color: $color__text-main;
  } //         
  .post-template-default .entry-header{
      img{
          height: auto;
          width: 100vw;
      }
  }
  .post-template-default .entry-meta {
      background-color: $color_brand-green;
      text-transform: uppercase;
      color: white; 
      display: inline-block;
      position: absolute;
      bottom: 5px;
      padding-left: 1.2rem;
      padding-right: 1.2rem;
  }
  .post-template-default .entry-title {
      display: flex;
      background-color: $color_brand-green;
      padding: 1rem 1.5rem; 
      position: absolute;
      left: 4.5rem;
      top: 0; 
      margin-top: 12rem;
      max-width: 45%;
      line-height: 1.25;
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 2rem;
      &:hover {
          color: $color__background-ins;
      }
  }
.cat-links, .tags-links{
    display: inline-block;
    font-family: Novecento Sans Web,sans-serif;
    text-transform: uppercase
}
.fn{
    font-style: normal;
    font-weight: 700;
}
.comment-list li{
    border-bottom: $solid_border;
    padding-top: 20px;
}
.comment-list p{
    color:$color_brand-purple;
}
.comment-author-avatar{
    display:inline;
}

label {
    color: $color_brand-purple;
    display: block;
    font-family: "Novecento Sans Web", sans-serif;
    font-size: 17.6px;
    font-size: 1.1rem;
    margin-bottom: .5rem;
    text-transform: uppercase;
}

.form-star{
    color:$color_brand-orange;
}
.social-button{
    @include black-button;
    margin-left: 0;
    padding: .7rem 1.5rem;
}

/*Single Product Page*/
.single-product .hentry{
    display: flex;
    justify-content: space-between;
    .entry-title {
    color: #d99054;
    font-size:2.4rem;
    margin: 0;
}
}
.single-price{
    font-family: Novecento Sans Web,sans-serif;
    font-size: 1.8rem;
    margin-top: 0;
    text-transform: uppercase;
    }

.single-product-description-container{
    .entry-header{
        display:flex;
        img{
            height:400px;
            width: 538px;
        }   
        h2 {
            height:55px;
        }
    }
}
   .product-template-default .entry-content {
        width:45%;
            .BodyA {
                font-size: 1rem;
                line-height: 1.25;
            }
   }

/*Search Results Page*/

.search-page-title {
    font-size: 2.4rem;
    font-family: Novecento Sans Web,sans-serif;
    letter-spacing: 2px;
    border-bottom: $solid-border;
    padding-bottom: 1rem;
}
.entry-title{
    a{
    text-decoration: none;
    font-size: 2.1rem;
    line-height: 1.25;
    }
}
.entry-summary p {
    color: $color_brand-purple;
}
.search .content-area {
    width:73%;
    border-right: $solid-border;
    padding-right: 5%;
    padding-top: 2%;
}
.search-pagination {
    border-top: $solid-border;
    font-family: $font_accent;
    padding: 1.5rem 0;
    text-transform: uppercase;
        .page-numbers {
            background-color: $color_brand-green;
            color: white;
            line-height: 1;
            padding: .5rem .75rem;
            margin-right: .25rem;
            display: inline-block;
            text-align: center;
            text-decoration: none;
            }
    }

//error page
.error-404{
    .page-header{
        border-bottom:none;
        margin:0;
        padding:0;
    }
    .page-title {
        font-size: 2.4rem;
            letter-spacing: 2px;
    }
    .page-content {
        p {
            color:black;
        }
    }
}

.error404 .site-content .search-submit {
    display:none;
    color:white;
}

.widget.widget_recent_entries a {
    text-decoration:none;
}