/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	// margin: 0 0 $base__space-unit;
	margin: 0 0 3rem;
	/* Make sure select elements fit in widgets. */
	  ul{list-style-type: none;
    margin-left: 0;
    padding-left: 0;
		}
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

// SIDEBAR

#secondary{

 padding-top: 60px;
 padding-left: 45px;
//  margin:0, auto;
}

// .sidebar-container{
// 	display: flex;
// }

// .widget-area {
// 	display:block;
// 	justify-content: right;
// 	margin:0, auto;
// 	align-self: right;

	// width: 30%;
// }

.widget-title{
	text-transform: uppercase;
	color:black;
}

.contact-meta, #archives-2 {
	color: black;
	a{
		color: $color_brand-green;
		text-decoration: none;
		  &:hover {
			  color: black;		
		}
	}
}

.textwidget p {
	color:black;
	.day-of-week{
		font-weight:bold;
	}
}

.inhabitent-business-hours-class {
	p {color:black;
	.day-of-week{
		font-weight: 700;
	}
	}
}

// <aside id="archives-2" class="widget widget_archive"><h2 class="widget-title">Archives</h2>		<ul>
// 			<li><a href="//localhost:3000/Inhabitent/2016/04/">April 2016</a></li>
// 	<li><a href="//localhost:3000/Inhabitent/2016/03/">March 2016</a></li>
// 		</ul>
// 		</aside>